<div style=" float: right; margin-right: 2px;">
  <app-logout></app-logout>
</div>
<div style="padding-top:40px;">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="Subject">
      <th mat-header-cell *matHeaderCellDef>Meeting Subject</th>
      <td mat-cell *matCellDef="let element"> {{element.subject}} </td>
    </ng-container>
    <ng-container matColumnDef="Attendees">
      <th mat-header-cell *matHeaderCellDef> Attendees </th>
      <td mat-cell *matCellDef="let element"> {{element.attendeesId}} </td>
    </ng-container>
    <ng-container matColumnDef="Agenda">
      <th mat-header-cell *matHeaderCellDef> Meeting Agenda </th>
      <td mat-cell *matCellDef="let element"> {{element.agenda}} </td>
    </ng-container>
    <ng-container matColumnDef="Date">
      <th mat-header-cell *matHeaderCellDef> Date Time </th>
      <td mat-cell *matCellDef="let element"> {{element.meetingTime}} </td>
    </ng-container>
    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element">
        <button style="background-color: burlywood;" (click)="update(element.id)" type="button">Details</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <br>
  <br>
  <ng-container matColumnDef="action">
    <button style="background-color: burlywood;float: right; margin-right: 2px;" (click)="addMeeting()"
      type="button">Add Meeting</button>
  </ng-container>
</div>